Django==1.4
django-debug-toolbar==0.9.4
django-picklefield==0.2.1
gunicorn==0.14.2
Fabric==1.4.1
ipython==0.12.1
python-dateutil==1.5
virtualenv==1.7.1.2
virtualenvwrapper==3.2
requests==0.11.2
simplejson==2.5.0
django-geoposition
south
https://github.com/django/django-localflavor-gb/zipball/master
