{% extends "base.html" %}
{% block title %}About {%endblock %}
{% block sidebar %}
<h2 xmlns="http://www.w3.org/1999/html">What is this?</h2>
        <p>Everyone knows how frustrating it can be turning round the corner
            to see the bus you want driving past. Fear no more! Beat the Bus is here to save you from
            bus-related anger.</a></p>
{% endblock %}
{% block content %}
<h2>Beat the Bus!</h2>
<p><i>Beat the Bus</i> is a service designed to help you access bus timetable information in the area in and around Bath</p>

<h3>University timetable</h3>
<p>Our flagship idea is a full five-day timetable</p>
{%endblock%}