{% extends "base.html" %}
{% block title %}About {%endblock %}
{% block sidebar %}
<h2 xmlns="http://www.w3.org/1999/html">What is this?</h2>
        <p>Everyone knows how frustrating it can be turning round the corner
            to see the bus you want driving past. Fear no more! Beat the Bus is here to save you from
            bus-related anger.</a></p>
{% endblock %}
{% block content %}
<h2>Beat the Bus!</h2>
<p><i>Beat the Bus</i> is a service designed to help you access bus timetable information in the area in and around Bath.</p>

<h3>Who are we?</h3>
<p>We are Double Decker Solutions, a group of students at the University of Bath, consisting of Adam, Amy, Chrs (because he hates vowels), Elliott, Lian and Toby. This system has been used for our Integrated Project at the University, originally coming about from a shared irritation at the bus services in and around the University.</p>

<h3>What does this do?</h3>
<p>We have two main features currently available. 'University Planner' will take the times that your timetable dictates you need to be on campus, and a postcode, and suggest three buses to get there on time. 'One Journey', on the other hand, takes two bus stops from the user and shows three buses for the times selected. We are only currently able to process U18 routes, however, given time (it takes about 1-2 hours per route) it is possible to load any bus timetable data in.</p>
{%endblock%}