{% extends "base.html" %}
{% block title %}Five day timetable{% endblock title %}
{% block content %}
    <h2>University Bus Timetabler</h2>
    {% for period in route_data %}
        {% if forloop.first %}
            <h3>Your personalised timetable!</h3>
        {% endif %}
        <h2 id="{{period.slug}}" style="cursor:pointer;"><img id="{{period.slug}}_image" src="{{STATIC_URL}}images/plus.png"> {{ period.title }}</h2>
        <div id="{{period.slug}}_content" style="display:none;">
        {% for route in period.routes %}
            {% include "route_journey_table.html" with journey=route %}
        {% endfor %}
        </div>
    {% endfor %}
    {% if route_data %}
        <h3>Want another?</h3>
    {% else %}
        <h3>Get your five-day timetable</h3>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{postcode_form.postcode.errors}}
        Postcode: {{postcode_form.postcode}}
        <h3>Monday</h3>
        {% if five_day_form.mon_morn.errors or five_day_form.mon_eve.errors %}
            <ul class="errorlist">
                <li>These fields are required and must be in the range 00:00 to 23:59.</li>
            </ul>
        {% endif %}
        From {{five_day_form.mon_morn}} to {{five_day_form.mon_eve}}
        <h3>Tuesday</h3>
        {% if five_day_form.tue_morn.errors or five_day_form.tue_eve.errors %}
        <ul class="errorlist">
            <li>These fields are required and must be in the range 00:00 to 23:59.</li>
        </ul>
        {% endif %}
        From {{five_day_form.tue_morn}} to {{five_day_form.tue_eve}}
        <h3>Wednesday</h3>
        {% if five_day_form.wed_morn.errors or five_day_form.wed_eve.errors %}
        <ul class="errorlist">
            <li>These fields are required and must be in the range 00:00 to 23:59.</li>
        </ul>
        {% endif %}
        From {{five_day_form.wed_morn}} to {{five_day_form.wed_eve}}
        <h3>Thursday</h3>
        {% if five_day_form.thu_morn.errors or five_day_form.thu_eve.errors %}
        <ul class="errorlist">
            <li>These fields are required and must be in the range 00:00 to 23:59.</li>
        </ul>
        {% endif %}
        From {{five_day_form.thu_morn}} to {{five_day_form.thu_eve}}
        <h3>Friday</h3>
        {% if five_day_form.fri_morn.errors or five_day_form.fri_eve.errors %}
        <ul class="errorlist">
            <li>These fields are required and must be in the range 00:00 to 23:59.</li>
        </ul>
        {% endif %}
        From {{five_day_form.fri_morn}} to {{five_day_form.fri_eve}}

        <br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block sidebar %}
    {% if route_data %}
        <img src="{{STATIC_URL}}images/placeholder_google_image.png" style="margin: 5px;"/>
        Placeholder google maps image
    {% else %}
        <h3>University Bus Timetabler</h3>
        Please insert your postcode and the times you need to arrive at and leave the university in the form to the left.
    {% endif %}
{% endblock %}

{% block extrafoot %}
<!-- Five_day.html JS -->
<script type="text/javascript">
    $(document).ready(function(){
        {% for period in route_data %}
            $("#{{period.slug}}").click(function(){
                $("#{{period.slug}}_content").slideToggle();
                if ($("#{{period.slug}}_image").attr("src") == "{{STATIC_URL}}images/minus.png")
                {
                    $("#{{period.slug}}_image").attr("src","{{STATIC_URL}}images/plus.png");
                } else {
                    $("#{{period.slug}}_image").attr("src","{{STATIC_URL}}images/minus.png");
                }
            });
            {% endfor %}
            {% for time in time_fields %}
                $("#id_{{time}}").timepicker({
                                                        defaultTime: '12:34'
                                                    });
            {% endfor %}
        });
</script>
{% endblock %}