{% extends "base.html" %}
{% block title %}Nearest stops{% endblock title %}
{% block sidebar %}

{% endblock %}
{% block content %}
   <form action="" method="post">
       {% csrf_token %}
       {{ nearest_form.as_p }}
       <input type="Submit">
   </form>
    {% if stops %}
        <table>
        <tr><td>Name</td><td>Location</td></tr>
        {% for stop in stops %}
            <tr><td>{{stop.name}}</td><td>{{stop.location}}</td></tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}